# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon


# Xcode
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/swiftpm/configuration

# Swift Package Manager
.build/
.swiftpm/

# Dependency managers
Pods/
Carthage/Build/

# Artifacts
*.ipa
*.app
*.dSYM.zip
*.dSYM

# Misc
*.log
.fakebuild_output*.log
update_xcode_project.py
scripts/*.py
scripts/*.log

# Environment
.env.local
.env.*.local
.env
